.features {
  position: relative;
  z-index: 5;
  margin-top: -30rem;
  margin-bottom: 5rem;

  i {
    font-size: 5rem;
    color: $dark-gray;
  }
  h3, h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.25rem;
    margin: 2rem 0 3rem;
    color: $dark-gray;

    @include breakpoint(small down){
      margin-bottom: 1rem;
    }
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.35rem;
    color: $dark-gray;
  }

  .feature-row {
    margin: 10rem auto;

    .cell {
      position: relative;

      .tablet {
        position: absolute;
        background-size: contain;
        background-image: url('../img/svg/_tablet.svg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 640px;
        height: 450px;
        transform: rotate(15deg);
        left: 15%;

        &.heatmap {
          background-image: url('../img/devices/heatmap@2x.png');
          filter: drop-shadow(12px 10px 0 rgba(0,0,0,0.1));
        }

        &.left {
          position: relative;
          left: -150%;
        }

        @include breakpoint(small down){
          left: 5%;
          width: 90%;
          height: 300px;
        }
      }
      .laptop {
        position: absolute;
        background-size: contain;
        background-image: url('../img/svg/_laptop.svg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 420px;
        transform: rotate(15deg);
        left: 5%;

        &.left {
          position: relative;
          left: -150%;

          @include breakpoint(small down){
            left: 5%;
            height: 300px;
          }
        }

        @include breakpoint(small down){
          width: 90%;
        }
      }

      .browser {
        position: absolute;
        background-size: contain;
        background-image: url('../img/svg/_browser_frame.svg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 700px;
        height: 420px;
        transform: rotate(15deg);
        left: 5%;

        &.left {
          position: relative;
          left: -150%;

          @include breakpoint(small down){
            left: 5%;
            height: 300px;
          }
        }

        @include breakpoint(small down){
          width: 90%;
        }
      }

      @include breakpoint(small down){
        &.max5 {
          height: 15rem;
        }
      }
    }
  }
}
