.features {
  position: relative;
  z-index: 5;
  /*margin-top: -15rem;*/
  margin-bottom: 5rem;

  i {
    font-size: 5rem;
    color: $dark-gray;
  }
  h3, h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.25rem;
    margin: 2rem 0 3rem;
    color: $dark-gray;

    @include breakpoint(small down){
      margin-bottom: 1rem;
    }
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.35rem;
    color: $dark-gray;
  }

  .feature-row {
    margin: 8rem auto;

    .cell {
      position: relative;
      padding: 0 .9375rem;

      .tablet {
        position: relative;
        background-size: contain;
        background-image: url('../img/svg/_tablet.svg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 640px;
        height: 450px;
        transform: rotate(15deg);
        left: 15%;

        &.heatmap {
          background-image: url('../img/devices/heatmap@2x.png');
          filter: drop-shadow(12px 10px 0 rgba(0,0,0,0.1));
        }
        &.compliance {
          background-image: url('../img/devices/marquee@2x.png');
          filter: drop-shadow(12px 10px 0 rgba(0,0,0,0.1));
        }
        &.capture {
          background-image: url('../img/devices/capture@2x.png');
          filter: drop-shadow(12px 10px 0 rgba(0,0,0,0.1));
        }
        &.score {
          background-image: url('../img/devices/score@2x.png');
          filter: drop-shadow(12px 10px 0 rgba(0,0,0,0.1));
        }
        &.data {
          background-image: url('../img/devices/storage@2x.png');
          filter: drop-shadow(12px 10px 0 rgba(0,0,0,0.1));
        }
        &.reports {
          background-image: url('../img/devices/reports@2x.png');
          filter: drop-shadow(12px 10px 0 rgba(0,0,0,0.1));
        }

        &.left {
          position: relative;
          left: -150%;
        }

        @include breakpoint(small down){
          left: 5%;
          width: 90%;
          height: 300px;
        }
      }
      
      .icon {
        height: 70px;

        path, polygon {
          fill: $dark-gray;
        }
      }

      .straight {
        transform: rotate(0deg);
      }

      @include breakpoint(small down){
        &.max5 {
          height: 15rem;
        }
      }
    }
  }
}
