$nusku: -7deg;
.form-block {
  position: relative;
  z-index: 5;
  margin: 10rem 0 5rem;
  color: $white;

  .angle_10 {
    position: absolute;
    overflow: hidden;
    z-index: 5;
    left: 50%;
    height: 80rem;
    width: 100%;
    -webkit-transform: translateX(-50%) skewY($nusku);
    transform: translateX(-50%) skewY($nusku);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: rgb(27,168,236);
    background:    -moz-linear-gradient(top, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
    background:   linear-gradient(to bottom, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
    background: -webkit-linear-gradient(top, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);

    .molecules {
      width: 100%;
      height: 100%;
      background-image: url('../img/NES_molecules.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top left;
      transform: skew(7deg);
      opacity: .25;
      mix-blend-mode: multiply;
    }
  }

  @include breakpoint(small down){
    margin-top: 8rem;
    margin-bottom: 0;
  }

  .mainform {
    position: relative;
    z-index: 20;

    .cell {
      padding: 0 1.125rem;
    }

    .headline {
      i {
        font-size: 5rem;
      }
      h3 {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 2.25rem;
        color: $white;
        margin: 4rem 0;

        @include breakpoint(small down){
          margin: 2rem 0;
        }
      }
    }
    p, .gfield_label {
      font-family: 'Montserrat', sans-serif;
      color: $white;
      
      .gfield_required {
        color: $white;
      }
    }
    p {
      font-size: 1.35rem;
    }
    table, tbody, tr, td {
      background: none;
      border: none;
    }


    .gform_body {
      margin-top: 5px;
    }
    .gform_body label {
      font-size: 1rem;
    }
    .gform_wrapper {
      margin: 0;

      .gfield_label {
        text-transform: uppercase;
      }

      ul {
        li.gfield {
          margin: 0 0 1.5rem 0;

          .ginput_container {
            margin: 0;

            input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
              font-family: 'Montserrat', sans-serif;
              font-size: 1.25rem;
              font-weight: 700;
              background-color: $white !important;
              color: $dark-gray !important;
              padding: 1rem;
              border: none;
              border-radius: 6px;
            }
          }
        }
      }

      @include breakpoint(small down){
        margin-top: 4rem;
        margin-bottom: 4rem;
      }

      .lv-form-1 {
        .gform_footer {
          text-align: center;

          input[type=submit] {
            background-color: $orange;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            border-radius: 3rem;
            padding: 0.5rem 3rem;
            font-size: 1.2rem;
            box-shadow: 3px 4px 0px rgba(0,0,0,0.20);

            &:hover {
              color: $white;
              background-color: #ea570b;
              top: 1px;
              box-shadow: 2px 3px 0px rgba(0,0,0,0.20);
            }
          }
        }
      }
    }
    
    /* ERROR HANDLING STYLES */
    .gform_wrapper li.gfield.gfield_error {
      background: none !important;
      border: none !important;
      margin-top: 0;
      padding-top: 0;
      padding-right: 16px;
    }
    .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
      padding: 8px 10px 8px;
      color: $white;
      text-shadow: 0px 0px 2px rgba(0,0,0,0.75);
      font-family: $nesfont;
      background-color: rgba(0,0,0,0.25);
      border-radius: 6px;
    }
    .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
      margin: 0;
    }
    .gform_wrapper .gfield_error .gfield_label {
      color: $white;
    }
    .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
      margin: 0;
    }
    .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
      border: 3px inset $red !important;
    }

    .text-right {
      @include breakpoint(small down){
        text-align: left;
        p {
          font-size: 1.15rem;
        }
      }
    }
  }
}