$skew: -15deg;

.marquee {
  position: relative;

  .angle_1 {
    position: absolute;
    overflow: hidden;
    z-index: 5;
    left: 50%;
    height: 70rem;
    width: 100%;
    -webkit-transform: translateX(-50%) skewY($skew);
    transform: translateX(-50%) skewY($skew);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: rgb(255,255,255);
    background:    -moz-linear-gradient(top, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
    background:   linear-gradient(to bottom, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
    background: -webkit-linear-gradient(top, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
    box-shadow: 0px 10px 50px rgba(0,0,0,0.09);

    .shape_1 {
      display: inline-block;
      position: relative;
      top: 0rem;
      width: 45%;
      height: 26rem;
      opacity: 0.5;
      background: rgba(255,255,255, 1);
      background:    -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      background:   linear-gradient(to bottom,   rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      mix-blend-mode: soft-light;

      &.pos_2 {
        top: 45rem;
        left: 6rem;
        height: 26rem;
        
        @include breakpoint(small down){
          left: 0rem;
          top: 18rem;
          width: 100%;
        }
      }
    }

    @include breakpoint(small down){
      height: 60rem;
    }
  }

  .grid-container {
    position: relative;
    z-index: 10000;
    padding-top: 4rem;

    .logo-grid {
      margin-bottom: 5rem;

      .logo {
        position: relative;
        background-image: url('../img/NES_LogoAlt_whiteKnockout.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 70px;
        width: 210px;

        .homelink {
          display: inline-block;
          height: 100%;
          width: 100%;
        }
      }

      .menublock{
        text-align: right;
        position: relative;

        button {
          box-shadow: initial;
          appearance: none;
          -webkit-appearance: none;
          &.hamburger {
            position: fixed;
            z-index: 9999;

            &.is-active {
              .hamburger-inner {
                background-color: $dark-gray;
                &:before {
                  background-color: $dark-gray;
                }
                &:after {
                  background-color: $dark-gray;
                }
              }
            }

            @include breakpoint(small down) {
              right: 0;
              top: 20px;
            }
          }
          
          .hamburger-box {
          
            .hamburger-inner {
              background-color: $white;
              box-shadow: 2px 2px 0px rgba(0,0,0,0.15);

              &:before {
                background-color: $white;
                box-shadow: 2px 2px 0px rgba(0,0,0,0.15);
              }
              &:after {
                background-color: $white;
                box-shadow: 2px 2px 0px rgba(0,0,0,0.15);
              }

              @include breakpoint(small down) {
                box-shadow: 2px 2px 0px rgba(0,0,0,0.15);
                &:before {
                  box-shadow: 2px 2px 0px rgba(0,0,0,0.15);
                }
                &:after {
                  box-shadow: 2px 2px 0px rgba(0,0,0,0.15);
                }
              }
            }
          }
        }
        
        .nes_mainmenu {
          
          @include breakpoint(small down) {
            display: none;
          }
        }
      }

      @include breakpoint(small down){
        margin-bottom: 3rem;
      }
    }

    @include breakpoint(small down){
      padding-top: 1rem;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  h1 {
    font-size: 2.35rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    text-transform: unset;
    font-weight: 300;
    color: $white;
    height: 70px;

    .typing {
      font-weight: 700;
      text-shadow: 2px 2px 0px rgba(0,0,0,0.15);
      font-size: 2.35rem;
      @include breakpoint(small down){
        font-size: 1.75rem;
      }
    }

    @include breakpoint(small down){
      font-size: 1.5rem;
      line-height: 2.25rem;
      height: 85px;
      padding-top: 0.5rem;
      margin-bottom: 1rem;
    }
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.35rem;
    line-height: 2.25rem;
    color: $white;

    .hilite {
      font-weight: 700;
      text-shadow: 2px 2px 0px rgba(0,0,0,0.15);
    }

    @include breakpoint(small down){
      font-size: 1.125rem;
      line-height: 2rem;
    }
  }

  .request_demo {
    margin-top: 2rem;
    position: relative;

    a {
      display: inline-block;
      position: relative;
      overflow: hidden;
      border-radius: 23px;
      padding: 10px 20px;
      height: 100%;
      background: $orange;
      color: $white;
      font-size: 1.25rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      box-shadow: 3px 4px 0px rgba(0,0,0,0.20);

      span {
        position: relative;
        z-index: 10;
      }

      &:hover {
        color: $white;
        background-color: #ea570b;
        top: 1px;
        box-shadow: 2px 3px 0px rgba(0,0,0,0.20);
      }
    }

    @include breakpoint(small down){
      text-align: center;
    }
  }

  .trusted-grid {
    width: 65%;
    opacity: 0.75;

    h3 {
      font-size: 1rem;
      margin-top: 4rem;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(255,255,255, 0.5);
      color: $white;
    }
    ul {

      li {
        font-family: $nesfont;
        color: $white;
        font-size: 1rem;

        @include breakpoint(small down){
          font-size: 3.75vw;
        }
      }
    }
    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 0.5rem 1.5rem 0.25rem 0;
      max-height: 60px;

      @include breakpoint(small down){
        padding-right: 0.5rem;
      }
    }
    .grid-x {
      margin-bottom: 10px;
    }
    .cell {
      text-align: center;
    }

    @include breakpoint(small down){
      width: 100%;
      padding: 0 1rem;
    }
  }
  
  .cell {
    position: relative;

    .tablet {
      position: absolute;
      background-size: contain;
      background-image: url('../img/devices/marquee@2x.png');
      background-repeat: no-repeat;
      background-position: center center;
      width: 800px;
      height: 510px;
      left: 3rem;
      transform: rotate($skew);
      filter: drop-shadow(10px 15px 0px rgba(0,0,0,0.15));
    }
  }
}