$skew: -5deg;

.newnes-canvas {
  background-color: $white;
  position: relative;
  z-index: 10;
}
.nes_marquee {
  position: relative;

  .angle_10 {
    position: absolute;
    /*overflow: hidden;*/
    z-index: 0;
    left: 50%;
    height: 17rem;
    width: 100%;
    -webkit-transform: translateX(-50%) skewY($skew);
    transform: translateX(-50%) skewY($skew);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: rgb(255,255,255);
    background:    -moz-linear-gradient(top, rgba(174, 173, 177, 1) 0%, rgba(175, 204, 219, 0.15) 100%);
    background:   linear-gradient(to bottom, rgba(174, 173, 177, 1) 0%, rgba(175, 204, 219, 0.15) 100%);
    background: -webkit-linear-gradient(top, rgba(174, 173, 177, 1) 0%, rgba(175, 204, 219, 0.15) 100%);

    .shape_1 {
      display: inline-block;
      position: absolute;
      top: 0rem;
      width: 40%;
      height: 14rem;
      opacity: 0.65;
      background: rgba(255,255,255, 1);
      /*background:    -moz-linear-gradient(-45deg, rgba(98, 122, 136,1) 0%, rgba(102,91,147,1) 50%, rgba(255,255,255,1) 100%);*/
      background:    -moz-linear-gradient(-45deg, rgba(98, 122, 136,1) 0%, rgba(255,255,255,0) 100%);
      /*background:   linear-gradient(135deg, rgba(98, 122, 136,1) 0%,rgba(102,91,147,1) 50%,rgba(255,255,255,1) 100%);*/
      background:   linear-gradient(135deg, rgba(98, 122, 136,1) 0%, rgba(255,255,255,0) 100%);
      /*background: -webkit-linear-gradient(-45deg, rgba(98,122,136,1) 0%,rgba(102,91,147,1) 50%,rgba(255,255,255,1) 100%);*/
      background: -webkit-linear-gradient(-45deg, rgba(98, 122, 136,1) 0%, rgba(255,255,255,0) 100%);
      mix-blend-mode: darken;

      &.pos_2 {
        top: 9rem;
        right: 0;
        height: 9rem;
        opacity: 0.45;
        width: 43%;
        
        @include breakpoint(small down){
          left: 0rem;
          top: 8rem;
          width: 100%;
          opacity: 0.15;
          height: 4rem;
        }
      }

      @include breakpoint(small down){
        height: 7rem;
        width: 55%;
      }
    }

    @include breakpoint(small down){
      height: 13rem;
    }

    @include breakpoint(small down){

    }
  }

  .nes_menu {
    background-color: rgba(0,0,0,0.15);
    background:    -moz-linear-gradient(bottom, rgba(98, 122, 136, 0.1) 0%, rgba(255,255,255,0) 100%);
    background:   linear-gradient(to top,       rgba(98, 122, 136, 0.1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(98, 122, 136, 0.1) 0%, rgba(255,255,255,0) 100%);
    padding-bottom: 1rem;
  }
  .grid-container {
    position: relative;
    z-index: 10;
    padding-top: 4rem;

    .logo-grid {
      margin-bottom: 0;

      .logo {
        position: relative;
        background-image: url('../img/NES_LogoAlt_whiteKnockout.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 70px;
        width: 210px;
        filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.2));

        .homelink {
          display: inline-block;
          height: 100%;
          width: 100%;
        }
      }

      .menublock{
        text-align: right;
        position: relative;

        button {
          box-shadow: initial;
          appearance: none;
          -webkit-appearance: none;
          &.hamburger {
            position: absolute;
            right: 0px;
            z-index: 9999;

            &.is-active {
              .hamburger-inner {
                background-color: $dark-gray;
                &:before {
                  background-color: $dark-gray;
                }
                &:after {
                  background-color: $dark-gray;
                }
              }
            }

            @include breakpoint(small down) {
              right: 3px;
              top: 6px;
            }
          }
          
          .hamburger-box {
          
            .hamburger-inner {
              background-color: $white;
              box-shadow: 2px 2px 0px rgba(0,0,0,0.15);

              &:before {
                background-color: $white;
                box-shadow: 2px 2px 0px rgba(0,0,0,0.15);
              }
              &:after {
                background-color: $white;
                box-shadow: 2px 2px 0px rgba(0,0,0,0.15);
              }

              @include breakpoint(small down) {
                box-shadow: 2px 2px 0px rgba(0,0,0,0.15);
                &:before {
                  box-shadow: 2px 2px 0px rgba(0,0,0,0.15);
                }
                &:after {
                  box-shadow: 2px 2px 0px rgba(0,0,0,0.15);
                }
              }
            }
          }
        }
      }

      @include breakpoint(small down){
        margin-bottom: 3rem;
      }
    }

    @include breakpoint(small down){
      padding-top: 1rem;
    }
  }
}