$skew: -15deg;

.marquee {
  position: relative;

  .angle_1 {
    position: absolute;
    z-index: 5;
    left: 50%;
    height: 70rem;
    width: 100%;
    -webkit-transform: translateX(-50%) skewY($skew + 2.5);
    transform: translateX(-50%) skewY($skew + 2.5);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: rgb(255,255,255);
    /*
    background:    -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 100%);
    background:   linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 100%);
  
    &.offset_2 {
      z-index: 4;
      top: 4rem;
      transform: translateX(-50%) skewY($skew + 1.25);
      -webkit-transform: translateX(-50%) skewY($skew + 1.25);
      background: rgb(255,255,255);
      background:    -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 100%);
      background:   linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 100%);
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 100%);
    }
    &.offset_3 {
      z-index: 3;
      top: 8rem;
      transform: translateX(-50%) skewY($skew);
      -webkit-transform: translateX(-50%) skewY($skew);
      background: rgb(255,255,255);
      background:    -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
      background:   linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
    }
    */
    &.offset_4 {
      z-index: 2;
      top: 77rem;
      transform: translateX(-50%) skewY($skew);
      -webkit-transform: translateX(-50%) skewY($skew);
      background: rgb(255,255,255);
      background:    -moz-linear-gradient(top, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
      background:   linear-gradient(to bottom, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
      background: -webkit-linear-gradient(top, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
      box-shadow: 0px 10px 50px rgba(0,0,0,0.09);
    }
  }

  .grid-container {
    position: relative;
    z-index: 10;
    padding-top: 4rem;

    .logo-grid {
      margin-bottom: 5rem;

      .logo {
        position: relative;
        background-image: url('../img/NES_LogoAlt.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 70px;
        width: 210px;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  h1 {
    font-size: 2.15rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.35rem;
    line-height: 2.25rem;
    color: $black;

    .hilite {
      font-weight: 700;
      color: $blue;
    }
  }

  .request_demo {
    margin-top: 2rem;

    a {
      display: inline-block;
      position: relative;
      border: 2px solid $blue;
      border-radius: 25px;
      padding: 10px 20px;
      height: 100%;
      background-color: $blue;
      color: $white;
      font-size: 1.25rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      box-shadow: 1px 1px 4px rgba(0,0,0,0.35);

      &:hover {
        background: none;
        color: $blue;
        box-shadow: none;
        top: 1px;
        left: 1px;
      }
    }
  }

  .trusted-grid {
    width: 75%;
    opacity: 0.75;

    h3 {
      font-size: 1.25rem;
      margin-top: 5rem;
      text-transform: uppercase;
    }
    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 0.5rem 2.5rem 0.5rem 0;
      max-height: 80px;
    }
    .cell {
      text-align: center;
    }

    @include breakpoint(small down){
      width: 100%;
      padding: 0 1rem;
    }
  }
  
  .laptop {
    position: absolute;
    background-size: contain;
    background-image: url('../img/NES_Laptop.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 800px;
    height: 510px;
  }

}