$skew: -15deg;

.marquee {
  position: relative;

  .angle_1 {
    position: absolute;
    overflow: hidden;
    z-index: 5;
    left: 50%;
    height: 70rem;
    width: 100%;
    -webkit-transform: translateX(-50%) skewY($skew);
    transform: translateX(-50%) skewY($skew);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: rgb(255,255,255);
    background:    -moz-linear-gradient(top, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
    background:   linear-gradient(to bottom, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
    background: -webkit-linear-gradient(top, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
    box-shadow: 0px 10px 50px rgba(0,0,0,0.09);

    .shape_1 {
      display: inline-block;
      position: relative;
      top: -24rem;
      width: 45%;
      height: 16rem;
      opacity: 0.5;
      background: rgba(255,255,255, 1);
      background:    -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      background:   linear-gradient(to right,   rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
      mix-blend-mode: soft-light;

      &.pos_2 {
        top: 43rem;
        left: 6rem;
        height: 40rem;
        
        @include breakpoint(small down){
          left: -14rem;
        }
      }
    }
  }

  .grid-container {
    position: relative;
    z-index: 10;
    padding-top: 4rem;

    .logo-grid {
      margin-bottom: 5rem;

      .logo {
        position: relative;
        background-image: url('../img/NES_LogoAlt_whiteKnockout.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 70px;
        width: 210px;
      }

      @include breakpoint(small down){
        margin-bottom: 3rem;
      }
    }

    @include breakpoint(small down){
      padding-top: 1rem;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  h1 {
    font-size: 2.15rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: $white;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.35rem;
    line-height: 2.25rem;
    color: $white;

    .hilite {
      font-weight: 700;
      color: $orange;
      text-shadow: 2px 2px 0px rgba(0,0,0,0.15);
    }
  }

  .request_demo {
    margin-top: 2rem;
    position: relative;

    a {
      display: inline-block;
      position: relative;
      overflow: hidden;
      border-radius: 23px;
      padding: 10px 20px;
      height: 100%;
      background: $white;
      color: $white;
      font-size: 1.25rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      box-shadow: 3px 4px 0px rgba(0,0,0,0.20);

      span {
        position: relative;
        z-index: 10;
      }

      .orangeSlate {
        background-color: $orange;
        display: inline-block;
        position: absolute;
        z-index: 9;
        left: 0;
        top: 0;
        height: 101%;
        width: 101%;
        transition: 250ms ease-in-out;
      }

      &:hover {
        color: $orange;

        .orangeSlate {
          transform: translateX(100%);
        }
      }
    }

    @include breakpoint(small down){
      text-align: center;
    }
  }

  .trusted-grid {
    width: 65%;
    opacity: 0.55;

    h3 {
      font-size: 1.25rem;
      margin-top: 5rem;
      text-transform: uppercase;
      color: $white;
    }
    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 0.5rem 1.5rem 0.25rem 0;
      max-height: 80px;

      @include breakpoint(small down){
        padding-right: 0.5rem;
      }
    }
    .cell {
      text-align: center;
    }

    @include breakpoint(small down){
      width: 100%;
      padding: 0 1rem;
    }
  }
  
  .cell {
    position: relative;

    .tablet {
      position: absolute;
      background-size: contain;
      background-image: url('../img/devices/marquee@2x.png');
      background-repeat: no-repeat;
      background-position: center center;
      width: 800px;
      height: 510px;
      left: 3rem;
      transform: rotate($skew);
      filter: drop-shadow(10px 15px 0px rgba(0,0,0,0.15));
    }
  }
}