$skew: -15deg;

.midsection {
  position: relative;
  padding: 4rem 0 0;

  i {
    font-size: 5rem;
  }
  h3, h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.25rem;
    margin: 4rem 0;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.35rem;

    @include breakpoint(small down){
      padding: 0 1rem;
    }
  }

  .angle_2 {
    position: absolute;
    z-index: 1;
    top: 13rem;
    left: 50%;
    height: 44rem;
    width: 100%;
    -webkit-transform: translateX(-50%) skewY($skew);
    transform: translateX(-50%) skewY($skew);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: rgb(205,205,205);
    background:    -moz-linear-gradient(top, rgba(215,215,215,1) 0%, rgba(255,255,255,1) 100%);
    background:   linear-gradient(to bottom, rgba(215,215,215,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(215,215,215,1) 0%, rgba(255,255,255,1) 100%);

    .molecules {
      width: 100%;
      height: 100%;
      background-image: url('../img/NES_molecules.png');
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: right center;
      transform: skew(15deg);
      opacity: .75;
      mix-blend-mode: color-burn;
    }

    @include breakpoint(small down){
      top: 8rem;
    }
  }

  .howitworks {
    position: relative;
    z-index: 10;
    padding: 6rem 0 2rem;
    
    i, h3, p {
      color: $dark-gray;
    }
    p {
      padding: 0 2rem;
      text-shadow: 2px 2px 0px rgba(255,255,255,1);
    }

    @include breakpoint(small down){
      padding-bottom: 0;
      padding-top: 6rem;

      h3 {
        margin: 2rem;
      }
    }
  }

  .google-block {
    margin-top: 4rem;

    h3 {
      margin-bottom: 2rem;
    }

    ul {
      margin: 0;

      li {
        list-style-type: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.35rem;

        i {
          color: $green;
          font-size: 1.35rem;
        }
      }

      @include breakpoint(small down){
        margin: 0 0.9375rem;
      }
    }
  }

  .easy-dev {
    position: relative;
    z-index: 9;
    padding: 6rem 0;
    margin: 8rem auto 4rem;
    background: $orange;
    background:    -moz-linear-gradient(top, rgba(214,89,62,1) 0%, rgba(248,143,65,1) 100%);
    background:   linear-gradient(to bottom, rgba(214,89,62,1) 0%, rgba(248,143,65,1) 100%);
    background: -webkit-linear-gradient(top, rgba(214,89,62,1) 0%, rgba(248,143,65,1) 100%);

    i, h3, p {
      color: $white;
    }
    i {
      font-size: 3rem;
      vertical-align: middle;
      padding-right: 1rem;
    }
    h3 {
      display: inline;
      vertical-align: middle;
    }
    p {
      margin-top: 2rem;
    }

    .icon {
      height: 40px;
      display: inline-block;
      padding-right: 0.5rem;
      vertical-align: middle;

      path, polygon {
        fill: $white;
      }
    }

    .cell {
      padding: 0 .9375rem;
    }

    @include breakpoint(small down){
      margin-top: 4rem;

      .easytouse {
        margin-bottom: 4rem;
      }
    }
  }

  .fingerprint {
    position: relative;
    margin-bottom: 20rem;
    
    .spinner {
      position: absolute;
      transform: translateX(-50%);
      width: 500px;
      height: 500px;
      top: -142px;
      left: 50%;
      z-index: 1;
      opacity: 0.35;
      mix-blend-mode: overlay;
         
      @keyframes rotate {
          0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

      $multiplier: 540;
      $subtractor: 40;
      $borderFactor: 80;
      @for $i from 1 through 6 {
          
        .circle-#{$i} {
          position: absolute;
          background: none;

          width: ($multiplier - $subtractor)+px;
          height: ($multiplier - $subtractor)+px;

          left: ($i - 1)*$subtractor+px;
          top: ($i - 1)*$subtractor+px;

          border-radius: 50%;

          animation: $i*10s linear rotate infinite;
          &:nth-child(odd) {
            animation-direction: reverse;
          }
          &:before {
            content: "";
            display: block;
            position: absolute;
            width: 10px;
            height: 12px;
            left: calc(50% - 5px);
          }

          $multiplier: $multiplier - $subtractor;

          &:after {
            content: "";
            display: block;
            position: absolute;
            width: ($multiplier - $subtractor)+px;
            height: ($multiplier - $subtractor)+px;
            left: ($subtractor * 0.5)+px;
            top: ($subtractor * 0.5)+px;
            border-radius: 50%;
            border-width: ($borderFactor)+px;
            border-style: dashed;
            border-color: rgba(255,255,255,0.5);
          }
        }
        $borderFactor: $borderFactor * 0.75;
        $multiplier: $multiplier - $subtractor;
      }

      @include breakpoint(small down){
        top: -71px;
      }
    }

    .dfcontent {
      position: relative;
      width: 100%;
      z-index: 5;

      i, h4 {
        color: $white;
      }
      h4 {
        font-size: 1.35rem;
        margin: 1rem auto;
      }
      p {
        margin-top: 2rem;
        color: $white;
      }

      .icon {
        height: 70px;
        margin: 1rem 0;

        path, polygon {
          fill: $white;
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 0;
      top: -20rem;
      transform: skewY(10deg);
      height: 50rem;
      width: 100%;
      background: rgb(205,205,205);
      background:    -moz-linear-gradient(top, rgba(27,168,236,1) 0%, rgba(123,101,250,1) 100%);
      background:   linear-gradient(to bottom, rgba(27,168,236,1) 0%, rgba(123,101,250,1) 100%);
      background: -webkit-linear-gradient(top, rgba(27,168,236,1) 0%, rgba(123,101,250,1) 100%);
      box-shadow: 0px 10px 50px rgba(0,0,0,0.15);
      overflow: hidden;

      @include breakpoint(small down){
        top: -8rem;
      }
    }

    @include breakpoint(small down){
      margin-bottom: 12rem;
    }
  }
}