.platform-menu {
  position: fixed;
  opacity: 0;
  background-color: $white;
  border-radius: 6px;
  z-index: 200;
  left: calc(50% - 2rem);
  width: 540px;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.25);
  padding: 1.5rem 2rem;
  display: none;
  transform: scale(0.95);
  transform-origin: top right;

  @include breakpoint(small down) {
    width: 95%;
    top: 1.5rem;
    left: 2%;
  }

  .nes_mainmenu {

    li{
      font-family: $nesfont;
      list-style-type: none;

      &.menu-section-header {
        font-weight: 700;
        width: 100%;
        border-bottom: 1px solid $light-gray;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        a {
          cursor: default;
          font-size: 0.85rem;
          color: $medium-gray;
          display: inline-block;
        }

        ul.sub-menu {
          margin-left: 0;

          li {
            margin-bottom: 0;
            padding: 10px 10px 8px;

            @include breakpoint(small down) {
              padding: 10px 0;
            }

            &:hover {
              color: $orange;
              background-color: rgba(255, 109, 0, 0.1);
              border-radius: 6px;

              a {
                color: $orange;
              }
            }
          }
          a {
            font-size: 1.2rem;
            color: $dark-gray;
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 0;
            cursor: pointer;
          }
          .icon-fraud_prevention {
            font-size: 2rem;
            color: $dark-gray;
            
            &:before {
              border-radius: 50%;
              font-size: 32px;
              position: relative;
              top: 2px;
            }

            a {
              font-size: 1.2rem;
              font-weight: 700;
              padding-left: 0.5rem;
              line-height: 1.4rem;
              display: inline-block;
              position: relative;
              cursor: pointer;

              &:after{
                content: ' Verify and record user engagement';
                display: block;
                font-size: 1rem;
                text-transform: none;
                font-weight: 500;
              }
            }
          }
        }
      }
      &.menu-section-left, &.menu-section-right {
        width: 49%;
        display: inline-block;
        a {
          display: none;
        }

        ul.sub-menu {
          display: inline-block;
          margin-left: 0;

          a {
            display: inline-block;
            text-transform: uppercase;
            font-size: 0.85rem;
            font-weight: 700;
            color: $dark-gray;

            &:hover {
              color: $orange;
            }
          }
        }
      }

      ul {
        
        li {
          font-weight: 400;
        }
      }
    }
  }

  .sign-in-link {
    font-family: $nesfont;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 1rem;
    color: $dark-gray;

    &:hover {
      color: $orange;
    }
  }
}
