$nusku: -7deg;

.options {
  position: relative;

  .angle_5 {
    position: absolute;
    overflow: hidden;
    z-index: 5;
    left: 50%;
    height: 70rem;
    width: 100%;
    -webkit-transform: translateX(-50%) skewY($nusku);
    transform: translateX(-50%) skewY($nusku);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: rgb(245,245,245);
    background: rgb(200,20,245);
  }

  .pricingOptions {
    position: relative;
    z-index: 20;
    padding-top: 2.5rem; 
    padding-bottom: 2.5rem;
    font-family: 'Montserrat', sans-serif;;

    .slideMe {
      position: relative;

      .xell {
        padding-bottom: 15px;
        position: relative;
        background-color: $white;
        width: calc(25% - 1.5rem);
        display: inline-block;
        margin: 0 0.25rem;
        border-radius: 6px;

        h4 {
          text-align: center;
          font-weight: 700;
          font-size: 2.5rem;
          margin: 1rem 0;
          line-height: 2rem;
          color: $black; 
          font-family: 'Montserrat', sans-serif;;
        }
        h5 {
          color: $black;
          text-align: center;
          font-size: 1.5rem;
          letter-spacing: 1px;
          padding: 20px 0 0;
          margin: 0;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
        }
        p {
          text-align: center;
          display: inline-block;
          width: 100%; 
        }
        ul {
          margin: 20px 0 0 0;
          
          li {
            list-style: none;
            text-align: center;
            padding: 10px 0;
            font-weight: 700;
            font-size: 1rem;
            color: $black;
          }
        }

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;

          .callbox {
            padding: 16px 0 12px;
            font-size: 0.9rem;
            font-weight: 700;
            line-height: 3rem; 
          }
        }
      }
      .xell.popular {
        background: rgb(27,206,249);
        background: -webkit-linear-gradient(-45deg, rgba(27,206,249,1) 0%, rgba(27,139,249,1) 100%);
        background: -moz-linear-gradient(-45deg, rgba(27,206,249,1) 0%, rgba(27,139,249,1) 100%);
        background: linear-gradient(135deg, rgba(27,206,249,1) 0%, rgba(27,139,249,1) 100%);
        color: $white;
        
        h4, h5 {
          color: $white;
        }

        ul {
          margin: 20px 0 0 0; 

          li {
            color: $white;
          }
        }
      }
    }
  }

  @media screen and (max-width: 39.9375em) {
    .pricingOptions {
      padding-top: 0;
      margin: 0 -0.625rem 0;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;

      .slideMe {
        width: 200%;
        padding: 25px 10px;

        .xell {
          margin-bottom: 25px;
          width: 33.33%;

          ul {
            
            li {
              font-size: 0.825rem; 
            }
          }
          
          &:last-child {
            display: none; 
          } 
          &:nth-child(3) {
            border-radius: 0 6px 6px 0;
            border-right: 1px solid #cacaca; 

            h5 {
              border-radius: 0 6px 0 0; 
            }
          }
        } 
      } 
    } 
  }

  .lv-lander_hero-content {

    h1 {
      font-weight: 700;
      font-size: 5.85rem;
      line-height: 6.75rem;
      color: #4f5458;
      margin: 0;
      padding: 0;
    }
    h3 {
      font-weight: 100;
      line-height: 1.45rem;
      font-size: 3.1rem;
      color: #4f5458;
      margin: 0;
    }
    p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin: 2.5rem 0;
      max-width: 768px;
    }
  }

  .lv-form-text {

    h2 {
      color: #fff;
    }
    h4 {
      color: #fff;
    }
  }

  .lv-form-1 {
    color: #fff;

    ul {
      margin: 0 1rem;

      li {
        list-style: none;   
      }
    }
  }

  .prod_feat {

    h2 {
      font-size: 4rem;
    }
    p {
      font-size: 1.25rem;
      line-height: 2rem;
    }

    .right-sidetxt {
      text-align: right;
    }
  }
  /** SASS ABOVE | CSS BELOW */


  /** Form Style Overrides */
  body .gform_wrapper .top_label div.ginput_container {
    margin-top: 0px;
  }
  .gform_wrapper .lv-form-1 .gform_footer {
    text-align: center;
  }
  .gform_wrapper .lv-form-1 .gform_footer input[type=submit] {
    background-color: #335ec5;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0px 50px;
  }
  .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    background-color: #fff !important;
    color: #4f5458 !important;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    line-height: 1rem;
    height: 40px;
  }
  .gform_wrapper .lv-form-1 select {
    background-color: #fff !important;
    color: #4f5458 !important;
    border-radius: 10px;
  }

  .ginput_container input:focus, textarea:focus {
    box-shadow: 0 -1px 0 0 #4688f1 inset;
  }
  .gform_wrapper .gfield_required {
    color: #fff;
  }

  .prod_row:nth-child(odd) .g-cols.type_default>div {
    float: right;
  }
  .gform_wrapper label.gfield_label {
    font-weight: 300;
  }

  /** Media Queries */
  @media screen and (max-width: 39.9375em) {
    .pricingOpts_html {
        margin: 0 -1rem;
        padding-top: 1rem;
    }
    .lv-lander_hero-content h3 {
        font-size: 7.5vw;
        line-height: 1.45rem;
        margin-top: 1rem;
    }
    .lv-lander_hero-content h1 {
        font-size: 12.5vw;
        line-height: 4rem;
        margin-bottom: 1rem;
    }
    .lv-lander_hero-content p{
        font-size: 1.25rem;
        margin-top: 0;
    }
    .orange_formbox {
        padding: 0 10px;
        margin-bottom: 3rem !important;
    }
    .lv-form-text h2 {
        line-height: 2.5rem;
        font-size: 2.35rem;
        margin-bottom: 1.5rem;
        font-weight: 100;
    }
    .gform_wrapper form.lv-form-1 {
        margin-top: 3rem;
    }
    .prod_feat .right-sidetxt p {
        text-align: left;
    }
    .prod_feat h2 {
        font-size: 3rem;
        text-align: center;
        text-transform: uppercase;
        line-height: 3rem;
        padding-bottom: 1rem;
        color: #335ec5;
    }
    .gform_wrapper .lv-form-1 .date_time_fld {
        text-align: center;
    }
  }

}
