$nusku: -7deg;

.options {
  position: relative;

  .angle_6 {
    position: absolute;
    overflow: hidden;
    z-index: 5;
    left: 50%;
    top: 27rem;
    height: 42rem;
    width: 100%;
    -webkit-transform: translateX(-50%) skewY($nusku);
    transform: translateX(-50%) skewY($nusku);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: rgb(245,245,245);

    @include breakpoint(small down){
      background-color: $light-gray;
      top: 15rem;
      height: 140rem;
    }
  }

  .pricingInfo {
    margin: 5rem 0;

    h3 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      margin: 0 0 1rem;
      color: $dark-gray;
    } 
    p {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.35rem;
      color: $dark-gray;

      @include breakpoint(small down){
        br {
          display: none;
        }
      }
    }
    
    @include breakpoint(small down){
      margin: 0rem auto;
    }
  }

  .pricingOptions {
    position: relative;
    z-index: 20;
    padding-bottom: 2.5rem;
    font-family: 'Montserrat', sans-serif;

    .slideMe {
      position: relative;
      top: 10rem;

      .cell {
        position: relative;
        background-color: $white;
        display: inline-block;
        border-radius: 6px;
        filter: drop-shadow(6px 7px 0 rgba(0,0,0,0.05));
        margin: 2rem auto;

        h4 {
          text-align: center;
          font-weight: 700;
          font-size: 2.5rem;
          margin: 1rem 0 0;
          line-height: 2rem;
          color: $dark-gray; 
          font-family: 'Montserrat', sans-serif;;
        }
        h5 {
          color: $dark-gray;
          text-align: center;
          font-size: 1.5rem;
          letter-spacing: 1px;
          padding: 20px 0 0;
          margin: 0;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
        }
        p {
          text-align: center;
          display: inline-block;
          font-size: 12px;
          width: 100%; 

          &.customPricing {
            font-size: 1.15rem;
            margin: 1.5rem 0 2rem;
          }
        }
        ul {
          margin: 1rem 0 2rem;
          
          li {
            list-style: none;
            text-align: center;
            padding: 0;
            font-weight: 700;
            font-size: 13px;
            color: $dark-gray;
          }
        }

        &:first-child {
          margin-left: -1rem;
        }
        &:last-child {
          margin-right: -1rem;
        }

        &.popular {
          background: rgb(27,206,249);
          background: -webkit-linear-gradient(-45deg, rgba(27,206,249,1) 0%, rgba(27,139,249,1) 100%);
          background: -moz-linear-gradient(-45deg, rgba(27,206,249,1) 0%, rgba(27,139,249,1) 100%);
          background: linear-gradient(135deg, rgba(27,206,249,1) 0%, rgba(27,139,249,1) 100%);
          color: $white;
          margin: 0 auto;
          
          h4, h5 {
            color: $white;
          }
          h4 {
            margin-top: 2rem;
          }
  
          ul {
            margin: 1.5rem 0 2rem; 
  
            li {
              color: $white;
            }
          }
        }
      }
    }
  }

  @include breakpoint(small down){
    .pricingOptions {
      padding-top: 0;

      .slideMe {
        padding: 0 1rem;
        top: 5rem;

        .cell {
          margin: 2rem auto;
          
          ul {
            
            li {
              font-size: 1rem; 
            }
          }
          
          &:first-child {
            margin: auto;
            margin-bottom: 2rem;
          }
          &:last-child {
            margin: auto;
            margin-bottom: 2rem;
          } 
        } 
      } 
    } 
  }

  .lv-lander_hero-content {

    h1 {
      font-weight: 700;
      font-size: 5.85rem;
      line-height: 6.75rem;
      color: #4f5458;
      margin: 0;
      padding: 0;
    }
    h3 {
      font-weight: 100;
      line-height: 1.45rem;
      font-size: 3.1rem;
      color: #4f5458;
      margin: 0;
    }
    p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin: 2.5rem 0;
      max-width: 768px;
    }
  }

  .lv-form-text {

    h2 {
      color: #fff;
    }
    h4 {
      color: #fff;
    }
  }

  .lv-form-1 {
    color: #fff;

    ul {
      margin: 0 1rem;

      li {
        list-style: none;   
      }
    }
  }

  .prod_feat {

    h2 {
      font-size: 4rem;
    }
    p {
      font-size: 1.25rem;
      line-height: 2rem;
    }

    .right-sidetxt {
      text-align: right;
    }
  }
  /** SASS ABOVE | CSS BELOW */


  /** Form Style Overrides */
  body .gform_wrapper .top_label div.ginput_container {
    margin-top: 0px;
  }
  .gform_wrapper .lv-form-1 .gform_footer {
    text-align: center;
  }
  .gform_wrapper .lv-form-1 .gform_footer input[type=submit] {
    background-color: #335ec5;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0px 50px;
  }
  .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    background-color: #fff !important;
    color: #4f5458 !important;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    line-height: 1rem;
    height: 40px;
  }
  .gform_wrapper .lv-form-1 select {
    background-color: #fff !important;
    color: #4f5458 !important;
    border-radius: 10px;
  }

  .ginput_container input:focus, textarea:focus {
    box-shadow: 0 -1px 0 0 #4688f1 inset;
  }
  .gform_wrapper .gfield_required {
    color: #fff;
  }

  .prod_row:nth-child(odd) .g-cols.type_default>div {
    float: right;
  }
  .gform_wrapper label.gfield_label {
    font-weight: 300;
  }

  /** Media Queries */
  @media screen and (max-width: 39.9375em) {
    .pricingOpts_html {
        margin: 0 -1rem;
        padding-top: 1rem;
    }
    .lv-lander_hero-content h3 {
        font-size: 7.5vw;
        line-height: 1.45rem;
        margin-top: 1rem;
    }
    .lv-lander_hero-content h1 {
        font-size: 12.5vw;
        line-height: 4rem;
        margin-bottom: 1rem;
    }
    .lv-lander_hero-content p{
        font-size: 1.25rem;
        margin-top: 0;
    }
    .orange_formbox {
        padding: 0 10px;
        margin-bottom: 3rem !important;
    }
    .lv-form-text h2 {
        line-height: 2.5rem;
        font-size: 2.35rem;
        margin-bottom: 1.5rem;
        font-weight: 100;
    }
    .gform_wrapper form.lv-form-1 {
        margin-top: 3rem;
    }
    .prod_feat .right-sidetxt p {
        text-align: left;
    }
    .prod_feat h2 {
        font-size: 3rem;
        text-align: center;
        text-transform: uppercase;
        line-height: 3rem;
        padding-bottom: 1rem;
        color: #335ec5;
    }
    .gform_wrapper .lv-form-1 .date_time_fld {
        text-align: center;
    }
  }

}
