.slideMenu {
  position: fixed;
  display: none;
  background-color: $dark-gray;
  height: 100%;
  width: 100%;
  right: 0;

  ul {
    margin: 0;
    list-style: none;
    text-align: right;

    li {
      font-family: $nesfont;
      font-weight: 700;
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;

      a {
        color: $white;
        text-transform: uppercase;
      }
    }

    @include breakpoint(small down){
      display: inline-block;
    }
  }

  .close {
    color: $white;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.15);
    font-size: 2.5rem;
    text-align: right;
    padding: 1rem 2rem;
  }

  .dots {
    background-image: url(../img/NES_dotsOnly@2x.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    width: 4rem;
    height: 4rem;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    opacity: 0.15;
  }
}