@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import 'settings';
@import 'foundation';

@include foundation-everything;

/** HOME PAGE TEMPLATE SPECIFIC */
@import 'platformmenu';
@import 'homemarquee';
@import 'formblock';
@import 'midsection';
@import 'features';
@import 'pricingopts';

/** GLOBAL SITE SPECIFIC */
@import 'mainmarquee';
@import 'contactus';

/** OVERRIDES */
body {
    overflow-x: hidden;
    min-width: 0!important;

    .text-center {
        text-align: center;
    }
    .text-right {
        text-align: right;
    }
    .text-left {
        text-align: left !important;
    }

    .nes-canvas {
        position: relative;
        background-color: #fff;
    }

    .w-toplink {
        &.active {
            bottom: 40px;
            
            &:hover {
                background-color: $dk-blue !important;
            }
        }
    }

    .w-btn {
        &.color_primary {
            &.style_raised {
                font-family: $nesfont;
                font-weight: 700;
                border-radius: 26px;
            }
        }
    }

    .blue-grad {
        background:    -moz-linear-gradient(top, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
        background:   linear-gradient(to bottom, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
        background: -webkit-linear-gradient(top, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
    }
}

.l-footer {
    .color_footer-bottom {
        background-color: $light-gray !important;
        a {
            color: $dark-gray;
            text-transform: uppercase;
            padding: 3px 1rem;
        }
    }
    .l-section.height_small>.l-section-h {
        color: $dark-gray;
        padding: 1rem 0;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.85rem;
    }
    .vc_wp_custommenu.layout_hor {
        
        ul {

            li {
                margin: 0;
                text-align: left;
            }
        }
    }
}

