@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import 'settings';
@import 'foundation';

@include foundation-everything;

/** HOME PAGE TEMPLATE SPECIFIC */
@import 'platformmenu';
@import 'broadnavmenu';
@import 'homemarquee';
@import 'formblock';
@import 'midsection';
@import 'features';
@import 'pricingopts';

/** GLOBAL SITE SPECIFIC */
@import 'mainmarquee';
@import 'contactus';

/** OVERRIDES */
body {
    overflow-x: hidden;
    min-width: 0!important;

    .text-center {
        text-align: center;
    }
    .text-right {
        text-align: right;
    }
    .text-left {
        text-align: left !important;
    }

    .nes-canvas {
        position: relative;
        background-color: #fff;
    }

    .w-toplink {
        &.active {
            bottom: 50px;
            
            &:hover {
                background-color: $dk-blue !important;
            }
        }
    }

    .w-btn {
        &.color_primary {
            &.style_raised {
                font-family: $nesfont;
                font-weight: 700;
                border-radius: 26px;
            }
        }
    }

    .blue-grad {
        background:    -moz-linear-gradient(top, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
        background:   linear-gradient(to bottom, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
        background: -webkit-linear-gradient(top, rgba(123,101,250,1) 0%, rgba(27,168,236,1) 100%);
    }
    .hamburger-box {
        width: 30px;

        .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
            width: 30px;
            height: 3px;
            border-radius: 3px;
        }
    }
}

.l-footer {
    .color_footer-bottom {
        background-color: $light-gray !important;
        a {
            color: $dark-gray;
            text-transform: uppercase;
            padding: 3px 1rem;
        }
    }
    .l-section.height_small>.l-section-h {
        color: $dark-gray;
        padding: 1rem 0;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.85rem;
    }
    .vc_wp_custommenu.layout_hor {
        
        ul {

            li {
                margin: 0;
                text-align: left;
            }
        }
    }

    .vc_col-sm-6.wpb_column.vc_column_container {

        @include breakpoint(small down){
            margin-bottom: 0.5rem;
        }

        .vc_column-inner {
            @include breakpoint(small down){
                padding: 0 0.125rem;
            }
        }
    }
}

.make-disappear {
    display: none !important;
}

.copyright_txt {

    p {
        font-family: "Helvetica Neue",Helvetica,"Roboto",Arial,sans-serif;
        font-weight: 400;

        @include breakpoint(small down) {
            font-size: 0.75rem;
        }
    }
}
.menu-zephyr-footer-menu-container {

    ul {
        float: right;

        @include breakpoint(small down){
            float: none;
        }

        li {
            font-family: "Helvetica Neue",Helvetica,"Roboto",Arial,sans-serif;
            font-weight: 400;

            &:nth-child(odd){
                @include breakpoint(small down){
                    width: 50%;
                    text-align: left;
                    font-size: 0.75rem;
                }
            }
            &:nth-child(even){
                @include breakpoint(small down){
                    width: 50%;
                    text-align: right !important;
                    font-size: 0.75rem;
                }
            }
        }
    }
}

